<h2>Department List</h2>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="filter department" #input>
</mat-form-field>
@if (loading()) {
    <mat-spinner [diameter]="20"></mat-spinner>
}
<form [formGroup]="form">
    <table mat-table [dataSource]="dataSource" 
        matSort matSortActive="company_name" matSortDisableClear matSortDirection="asc"
        class="mat-elevation-z8">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
            <td mat-cell *matCellDef="let element">
                @if (!element.get('isEdit')?.value) {
                    <span>{{ element.get('name')?.value }}</span>
                }
                @else {
                <mat-form-field>
                    <input matInput [formControl]="element.get('name')">
                </mat-form-field>
                }
            </td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phone"> Phone </th>
            <td mat-cell *matCellDef="let element">
                @if (!element.get('isEdit')?.value) {
                    <span>{{ element.get('phone')?.value }}</span>
                }
                @else {
                    <mat-form-field>
                        <input matInput [formControl]="element.get('phone')">
                    </mat-form-field>
                }
            </td>
        </ng-container>

        <ng-container matColumnDef="company_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by company"> Company </th>
            <td mat-cell *matCellDef="let element"> 
                @if (!element.get('isEdit')?.value) {
                    <span>{{ element.get('company_name')?.value }}</span>
                }
                @else {
                    <mat-form-field>
                        <mat-label>Company</mat-label>
                            <mat-select [formControl]="element.get('company_id')" name="company">
                                @for (item of companies | async; track $index) {
                                    <mat-option [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                }
                            </mat-select>
                    </mat-form-field>
                }
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
            <button mat-icon-button (click)="addNew()">
                <mat-icon>add</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let element;let i=index;">
                @if (!element.get('isEdit')?.value) {
                    <button mat-icon-button (click)="edit(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="delete(element)" matTooltip="Delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                }
                @else {
                    <button mat-icon-button (click)="saveRow(element)" [disabled]="element.invalid">
                        <mat-icon>save</mat-icon>
                    </button>
                    <button mat-icon-button (click)="cancelRow(element)">
                        <mat-icon>cancel</mat-icon>
                    </button>
                }
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>
</form>    
<mat-paginator [length]="dataSource.data.length"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

