/* .mat-mdc-form-field-infix {
    height: 40px !important;
    padding-top: -2px !important;
    padding-bottom: 0px !important;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
  height: 40px !important;
}

.mat-form-field-infix {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}



.mat-form-field-appearance-fill .mat-form-field-flex {
  height: 40px !important;
} */

/* :host {
    --mat-form-field-container-height: 2rem
    --mat-form-field-container-vertical-padding: 0.25rem
    --mat-form-field-container-text-size: 12px
} */
/* 
.custom-height {
    height: 60px;
}

.custom-height .mat-form-field-wrapper {
    padding-bottom: 0;
    padding-top: 0;
    height: 100%;
}

.custom-height .mat-input-element {
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    line-height: 60px;
} */
/* .custom-height {
    .mat-mdc-text-field-wrapper {
        max-height: 20px;
    }

    .mat-mdc-form-field {
        max-height: 30px;
    }

    .mat-mdc-form-field-infix {
        padding: 0 !important;
    }
} */
/* .custom-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #ffffff !important;
} */
/* .custom-form-field .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #ffffff;
}

.custom-form-field .mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
} */