<h2 mat-dialog-title>Edit a company</h2>
<div class="example-container">
    <mat-dialog-content [formGroup]="form">
        <div class="example-form-fields">
            <mat-form-field>
                <mat-label>Code</mat-label>
                <input matInput
                    placeholder="Code"
                    formControlName="code">
                    @if(isUpdating() && f["code"].errors){
                        @if(f["code"].errors["required"]){
                            <mat-error>Required field</mat-error>
                        }
                    }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
                    @if(isUpdating() && f["name"].errors){
                        @if(f["name"].errors["required"]){
                            <mat-error>Required field</mat-error>
                        }
                    }
            </mat-form-field>
        </div>
        <div class="example-form-fields">
            <mat-form-field>
                <mat-label>Country</mat-label>
                <input matInput
                    placeholder="Country"
                    formControlName="country">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phone</mat-label>
            <input matInput
                placeholder="Phone"
                formControlName="phone">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="container-mat-form-field">
                <mat-label>Email</mat-label>
                <input matInput
                    placeholder="Email"
                    formControlName="email">
                @if(isUpdating() && f["email"].errors){
                    @if(f["email"].errors["email"]){
                        <mat-error>Invalid field</mat-error>
                    }
                }
            </mat-form-field>
        </div>
            <div>
            <mat-form-field class="container-mat-form-field">
                <mat-label>Address</mat-label>
                <textarea matInput
                    placeholder="Address"
                    formControlName="address"></textarea>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="container-mat-form-field">
                <mat-label>Description</mat-label>
                <textarea matInput
                    placeholder="Description"
                    formControlName="description"></textarea>
            </mat-form-field>
        </div>
        @if(errorMessage()){
            <div class="error-message">{{errorMessage()}}</div>
        } 
    </mat-dialog-content>

    <mat-dialog-actions>
        <button matButton (click)="close()" [disabled]="isUpdating()">Cancel</button>
        <button matButton (click)="save()" [disabled]="isUpdating()">Save</button>
    @if(isUpdating()){
        <mat-spinner [diameter]="20"></mat-spinner>
    }
    </mat-dialog-actions>
</div>
