<h2 mat-dialog-title>Add a company</h2>
<mat-dialog-content [formGroup]="form">
      @if (errorMessage()){
        <mat-label class="my-custom-error-label">{{errorMessage()}}</mat-label>
    }

    <mat-form-field>
        <input matInput
               placeholder="Code"
               formControlName="code">
            <mat-error>
            @if(f["code"].errors){
                Required field
            }
            @if(errorMessage()){
               ERROR
            }
            </mat-error>
</mat-form-field>
  
    <mat-form-field>
        <input matInput
               placeholder="Name"
               formControlName="name">
        @if(f["name"].errors){
            <mat-error>Required field</mat-error>
        }
    </mat-form-field>
  
    <mat-form-field>
        <input matInput
               placeholder="Email"
               formControlName="email">
        @if(f["email"].errors){
            <mat-error>Invalid field</mat-error>
        }
    </mat-form-field>
  
    <mat-form-field>
        <input matInput
               placeholder="Country"
               formControlName="country">
    </mat-form-field>
  
    <mat-form-field>
        <input matInput
               placeholder="Phone"
               formControlName="phone">
    </mat-form-field>
  
    <mat-form-field>
        <textarea matInput
               placeholder="Address"
               formControlName="address"></textarea>
    </mat-form-field>
  
    <mat-form-field>
        <textarea matInput
               placeholder="Description"
               formControlName="description"></textarea>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button matButton (click)="close()" [disabled]="isUpdating()">Cancel</button>
    <button matButton (click)="save()" [disabled]="isUpdating()">Save</button>
    @if(isUpdating()){
        <mat-spinner [diameter]="20"></mat-spinner>
    }

</mat-dialog-actions>
