/* You can add global styles to this file, and also import other style files */
// @import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@use '@angular/material' as mat;
@use '@angular/material/prebuilt-themes/azure-blue.css' as *;

@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat.core();
html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (scale: 0)
  ));
}
// $primary: mat.m3-define-palette(mat.$m3-azure-palette, 500);
// // $primary: mat.m2-define-palette(mat.$m2-azure-palette, 500);
// $accent:  mat.m2-define-palette(mat.$m2-blue-palette, 500, A200, A400);
// $warn:    mat.m2-define-palette(mat.$m2-red-palette, 500);
 $config: mat-typography-config();

// $myapp-theme: mat.m2-define-light-theme((
//   color: (
//     primary: $primary,
//     accent: $accent,
//     warn: $warn,
//   )
// ));

// @include mat.all-component-themes($myapp-theme);

body {
  font-family: mat-font-family($config);
  font-weight: normal;
  margin: 0;
}