/* You can add global styles to this file, and also import other style files */
// @import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@use '@angular/material' as mat;
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@include mat.core();

$primary: mat.m2-define-palette(mat.$m2-indigo-palette, 500);
$accent:  mat.m2-define-palette(mat.$m2-pink-palette, 500, A200, A400);
$warn:    mat.m2-define-palette(mat.$m2-red-palette, 500);
$config: mat-typography-config();

$myapp-theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

@include mat.all-component-themes($myapp-theme);

body {
  font-family: mat-font-family($config);
  font-weight: normal;
  margin: 0;
}