.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-card {
  width: 400px;
  max-width: 90%;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
}