<h2>Employee List</h2>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="filter employee" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" 
  matSort matSortActive="dob" matSortDisableClear matSortDirection="desc"
  class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id"> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="job_title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by job title"> Job Title </th>
    <td mat-cell *matCellDef="let element"> {{element.job_title}} </td>
  </ng-container>

  <ng-container matColumnDef="date_of_birth">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date of birth"> Date of birth </th>
    <td mat-cell *matCellDef="let element"> {{element.date_of_birth | date:"MM/dd/yyyy"}} </td>
  </ng-container>

  <ng-container matColumnDef="hire_date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by hire date"> Hire Date </th>
    <td mat-cell *matCellDef="let element"> {{element.hire_date | date:"MM/dd/yyyy"}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
    </th>
    <td mat-cell *matCellDef="let element;let i=index;">
        <button mat-icon-button color="primary" (click)="startEdit(i, element.id, element.last_name, element.first_name, element.dob)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="primary" (click)="deleteItem(i, element.id, element.last_name, element.first_name, element.dob)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>
<mat-paginator [length]="dataSource.data.length"
                [pageIndex]="0"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

