<h2 mat-dialog-title>Edit an employee</h2>
<div class="example-container">
    
    <mat-dialog-content [formGroup]="form">
        @if (errorMessage()){
            <mat-label class="error-message">{{errorMessage()}}</mat-label>
        }
        <div class="example-form-fields">
            <mat-form-field>
                <mat-label>Code</mat-label>
                <input matInput
                    placeholder="Code"
                    formControlName="code">
                    @if(isUpdating() && f["code"].errors){
                        @if(f["code"].errors["required"]){
                            <mat-error>Required field</mat-error>
                        }
                    }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
                    @if(isUpdating() && f["name"].errors){
                        @if(f["name"].errors["required"]){
                            <mat-error>Required field</mat-error>
                        }
                    }
            </mat-form-field>
        </div>
        <div class="example-form-fields">
            <mat-form-field>
                <mat-label>Company</mat-label>
                <mat-select formControlName="company_id" (selectionChange)="updateDepartment($event.value)">
                    @for (item of companyItems|async; track $index) {
                        <mat-option [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    }
                </mat-select>
                @if(isUpdating() && f["company_id"].errors){
                    @if(f["company_id"].errors["required"]){
                        <mat-error>Required field</mat-error>
                    }
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>Department</mat-label>
                <mat-select formControlName="department_id">
                    @for (item of departmentItems; track $index) {
                        <mat-option [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    }
                </mat-select>
                @if(isUpdating() && f["department_id"].errors){
                    @if(f["department_id"].errors["required"]){
                        <mat-error>Required field</mat-error>
                    }
                }
            </mat-form-field>
        </div>
        <div class="example-form-fields">
            <mat-form-field>
                <mat-label>Job title</mat-label>
                <input matInput
                    placeholder="Job title"
                    formControlName="job_title">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Employment area</mat-label>
                <input matInput placeholder="Employment area" formControlName="employment_area">
            </mat-form-field>
        </div>
        <div class="example-form-fields">
            <mat-form-field>
                <mat-label>Type of blood</mat-label>
                <mat-select formControlName="type_of_blood">
                    @for (blood of type_of_bloods; track blood) {
                        <mat-option [value]="blood">{{blood}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Hire date</mat-label>
                <input matInput [matDatepicker]="picker_hire_date" formControlName="hire_date">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker_hire_date"></mat-datepicker-toggle>
                <mat-datepicker #picker_hire_date></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="example-form-fields">
            <mat-form-field>
                <mat-label>Date of birth</mat-label>
                <input matInput [matDatepicker]="picker_date_of_birth" 
                    formControlName="date_of_birth">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker_date_of_birth"></mat-datepicker-toggle>
                <mat-datepicker #picker_date_of_birth></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Place of birth</mat-label>
                <input matInput placeholder="Place of birth" 
                formControlName="place_of_birth">
            </mat-form-field>
        </div>
        <div class="example-form-fields">
            <mat-form-field>
                <mat-label>Phone</mat-label>
                <input matInput
                    placeholder="Phone"
                    formControlName="phone_number">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                    <mat-option value="Male">Male</mat-option>
                    <mat-option value="Female">Female</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="container-mat-form-field">
                <mat-label>Email</mat-label>
                <input matInput
                    placeholder="Email"
                    formControlName="email">
                @if(isUpdating() && f["email"].errors){
                    @if(f["email"].errors["email"]){
                        <mat-error>Invalid field</mat-error>
                    }
                }
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="container-mat-form-field">
                <mat-label>Address</mat-label>
                <textarea matInput placeholder="Address" 
                    formControlName="address"></textarea>
            </mat-form-field>
        </div>
        <div class="example-form-fields">
            <label>Driving licence</label>
            <mat-radio-group formControlName="driving_licence">
                @for (item of options; track $index) {
                    <mat-radio-button [value]="item">{{item}}</mat-radio-button>
                }
            </mat-radio-group>
        </div>
        <div class="example-form-fields">
            <label style="margin-right: 36.5px;">Licences</label>
            <mat-radio-group formControlName="licences">
                @for (item of options; track $index) {
                    <mat-radio-button [value]="item">{{item}}</mat-radio-button>
                }
            </mat-radio-group>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button matButton (click)="close()" [disabled]="isUpdating()">Cancel</button>
        <button matButton (click)="save()" [disabled]="isUpdating()">Save</button>
    @if(isUpdating()){
        <mat-spinner [diameter]="20"></mat-spinner>
    }
    </mat-dialog-actions>
</div>
